h2{
    border:1px solid green;
}
#lions{
    background-color: aquamarine;
}
.highlight{
    background-color: #ffadfb;
}
span{
    border:1px solid red;
}
.header{
    background-color: aliceblue;
}